[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aviv-cdk = {editable = true, path = "."}

[dev-packages]
aviv-cdk = {editable = true, extras = ["cicd", "nextstep"], path = "."}
pytest = "*"
pyyaml = "*"
