[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aws-cdk-core = ">=1.68"
boto3 = "*"
pyyaml = "*"

[dev-packages]
aviv-cdk = {editable = true, extras = ["cicd"], path = "."}
pytest = "*"
pyyaml = "*"
aws-cdk-aws-stepfunctions-tasks = "*"
